* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    font-family: Montserrat;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.clear-fix::after{
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
}

.btn-large{
    padding: 2.2rem 1.6rem;
    font-size: 2rem;
}

.btn{
    margin-top: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid white;
    border-radius: 1rem;
    word-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-social{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
}

.btn-primary:hover{
    background-color: #067a63;
    border-color: #067a63;
}

.btn-outline:hover{
    background-color: white;
    color: #212529;
    
}

.btn-outline{
    color: white;
    border-color: white;
    background-color: transparent;
}

.btn-primary{
    background-color: #1ABC9B;
    border-color: #1ABC9B ;
    padding: 1.2rem 2rem;
    color: white;
}

ul{
    list-style-type: none;
}

section{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.img-fluid{
    max-width: 256px;
    height: auto;
}

.text-uppercase{
    text-transform: uppercase;
}

#logo-box .logo{
    color: white;
    font-weight: 700;
    font-size: 2.8rem;
}

#logo-box{
    float: left;
    padding-top: 0.5rem;
}

/* NAVBAR */
nav {
    width: 100%;
    font-family: Montserrat;
    background-color: #2C3E4F;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: fixed;
    z-index: 999;
}

#nav-links{
    float: right;
}

#nav-links .nav-item{
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link{
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover{
    color: #1ABC9B;
}

header{
    background: #1ABC9B;
    height: 700px;
    padding-top: calc(110px + 7rem);
    text-align: center;
}

header h1{
    color: white;
    font-size: 6rem;
}

header h2{
    color: white;
    font-size: 2.5rem;
    font-family: "Lato";
    font-weight: 300;
}

hr.star-light{
    border-color: white;
}

hr.star-dark{
    border-color: #2D3D4F;
}

.star-light, .star-dark{
    border: none;
    border-top: 0.4rem solid white;
    max-width: 25rem;
    border-radius: 10px;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}

.star-light::after{
    color: white;
    background-color: #1ABC9B;
}

.star-dark::after{
    color:#2D3D4F;
    background-color: white;
}

.star-light::after,.star-dark::after{
    content: "\2605";
    font-weight: 900;
    font-size: 3.2rem;
    top: -28px;
    padding: 0 8px;
    position: relative;
}

#portfolio h2{
    font-size: 4.8rem;
    color: #2D3D4F;
}

.col{
    float: left;
    width: 33.333%;
    padding: 10px;
}

.img-fluid-p{
    max-width: 100%;
    border-radius: 15px;
    height: auto;
}

.portfolio-item img{
    display: block;
    position: relative;
}

.portfolio-item{
    position: relative;
}

.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: #1ABC9B;
    opacity: 0;
    transition:0.7s;
}

.img-overlay .icon{
    color: white;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.portfolio-item:hover .img-overlay{
    opacity: 0.85;
}

/* ABOUT */
#about{
    background-color: #1ABC9B;
    color: white;
}

#about h2{
    font-size: 4.8rem;
}

#about-text{
    text-align: left;
}

#about-text .left{
    float: left;
    width: 50%;
    padding-right: 2rem;
    padding-left: 23rem;
}

#about-text .right{
    float: right;
    width: 50%;
    padding-left: 2rem;
    padding-right: 23rem;
}

#about-text .text{
    font-size: 2rem;
}

/* CONTACT */

#contact h2{
    font-size: 4.8rem;
    color: #2C3E4F;
}

#contact-form{
    width: 70%;
    margin: 0 auto;
    text-align: left;    
}

.form-group{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
}

.form-group input,textarea{
    border: none;
    width: 100%;
    display: block;
    font-size: 2.4rem;
}

.form-group input,textarea:focus{
    outline: 0;
}

/* FOOTER */

footer{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #2C3E4F;
    color: white;
    text-align: center;
}

footer li{
    display: inline-block;
    margin: 0 1rem;
}

footer h4{
    font-size: 2.4rem;
}

footer p{
    font-size: 2rem;
    margin-top: 1rem;
}

.copyright{
    background-color: #19262F;
    padding: 2.4rem 0;
    color: white;
    text-align: center;
}






